{% load static %}
<!DOCTYPE html>
<html class="h-100" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Simple, easy and delicious meals that you can make at home">
        <meta name="keywords" content="Recipes, Food, Breakfast, Lunch, Dinner, Easy">
        <meta name="author" content="Danielle Daly">
        <title>Easy Eats</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/3128113473.js" crossorigin="anonymous"></script>
        <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body class="h-100">
        <!-- Navigation -->
        <nav aria-label="Main Navigation" role="navigation" class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}" aria-label="Go to Easy Eats Homepage">
                    <img src="/static/images/easy-eats-logo.png" width="150" alt="Easy Eats Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse nav justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'all-recipes' %}">Recipes</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-8 offfset-md-2">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissable fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close btn-msg" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <!--  Page Content -->
        <main class="flex-shrink-0 main-bg pb-4">
            {% block content %}
            {% endblock content %}
        </main>

        <!--  Footer -->
        <footer class="footer mt-auto py-3 bg-dark">
            <p class="m-0 text-center text-white">
                Follow Easy Eats on: 
                <a href="https://facebook.com" target="_blank" aria-label="Follow Easy Eats on Facebook"><i class="fab fa-facebook-square ms-3 footer-icon"></i></a>
                <a href="https://twitter.com" target="_blank" aria-label="Follow Easy Eats on Twitter"><i class="fa-brands fa-twitter ms-1 footer-icon"></i></a>
                <a href="https://instagram.com" target="_blank" aria-label="Follow Easy Eats on Instagram"><i class="fa-brands fa-instagram ms-1 footer-icon"></i></a>
                <a href="https://youtube.com" target="_blank" aria-label="Watch Easy Eats on YouTube"><i class="fa-brands fa-youtube ms-1 footer-icon"></i></a>
            </p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>

