{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="recipe-intro">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 recipe-intro-image image-container">
                {% if "placeholder" in recipe.image.url %}
                <img src="/static/images/image-placeholder-recipe.jpeg">
                {% else %}
                <img src="{{ recipe.image.url }}" width="100%">
                {% endif %}
            </div>

            <div class="col-md-6 ps-4 recipe-intro-text">
                <!-- Recipe Title -->
                <h1 class="recipe-title">{{ recipe.title }}</h1>
                <!-- Cooking Time -->
                <div class="recipe-cooking-time"><strong>Cooking Time:</strong> {{ recipe.cooking_time }}</div>
                <!-- Serves -->
                <div class="recipe-serves"><strong>Serves:</strong> {{ recipe.serves }}</div>
                <!-- Decsription -->
                <div class="recipe-description">{{ recipe.description }}</div>

                <div class="row">
                    <div class="col-md-6">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="recipe_id" value="{{ recipe.slug }}" class="btn-like"><i class="fa-solid fa-heart"></i></button>

                                {% else %}
                                <button type="submit" name="recipe_id" value="{{ recipe.slug }}" class="btn-like"><i class="fa-regular fa-heart"></i></button>

                                {% endif %}
                            </form>
                            {% else %}
                            <span><i class="fa-regular fa-heart"></i></span>
                            {% endif %}
                        <span>Likes: {{ recipe.number_of_likes }} </span>
                    </strong>
                </div>
                    <div class="col-md-6">
                        {% with comments.count as total_comments %}
                        <strong><i class="fa-solid fa-comment"></i> Comments: {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- Ingredients -->
        <div class="col-3 mt-3 left top">
            <div class="recipe-ingredients">
                <strong>Ingredients:</strong> {{ recipe.ingredients | safe }}
            </div>
        </div>
        <!-- Method -->
        <div class="col-9 mt-3 right top">
            <div class="recipe-method">
                <strong>Method:</strong> {{ recipe.method | safe }}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class="font-weight-normal">
                            {{ comment.created_on }}
                        </span>
                    </p>
                    <p>
                        {{ comment.body | linebreaks }}
                    </p>
                </div>
                {% endfor %}
                {% if commented %}
                <div class="alert-alert-success" role="alert">
                Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a Comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lge">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
