{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="recipe-intro mb-3">
    <div class="container p-0">
        <div class="row g-0 bg-white">
            <div class="col-md-6 recipe-intro-image image-container">
                {% if "placeholder" in recipe.image.url %}
                <img src="/static/images/image-placeholder-recipe.jpeg">
                {% else %}
                <img src="{{ recipe.image.url }}" width="100%">
                {% endif %}
            </div>

            <div class="col-md-6 p-4 recipe-intro-text">
                <!-- Recipe Title -->
                <h1 class="recipe-title">{{ recipe.title }}</h1>
                <!-- Cooking Time -->
                <div class="recipe-cooking-time"><strong>Cooking Time:</strong> {{ recipe.cooking_time }}</div>
                <!-- Serves -->
                <div class="recipe-serves"><strong>Serves:</strong> {{ recipe.serves }}</div>
                <!-- Decsription -->
                <div class="recipe-description">{{ recipe.description }}</div>

                <div class="recipe-intro-comments-likes px-4 py-2 text-center">
                    <div class="col-6">
                        <strong>
                            {% if user.is_authenticated %}
                            <span>Like this recipe? </span>
                            <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="recipe_id" value="{{ recipe.slug }}" class="btn-like"><i class="fa-solid fa-heart"></i></button>

                                {% else %}
                                <button type="submit" name="recipe_id" value="{{ recipe.slug }}" class="btn-like"><i class="fa-regular fa-heart"></i></button>

                                {% endif %}
                            </form>
                            {% else %}
                            <span><i class="fa-regular fa-heart"></i></span>
                            <span>Likes: {{ recipe.number_of_likes }} </span>
                            {% endif %}
                    </strong>
                </div>
                    <div class="col-6">
                        {% with comments.count as total_comments %}
                        <strong>
                            <i class="fa-solid fa-comment"></i> <span class="comments-link" id="comments-link">Comments: {{ total_comments }}</span>
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mb-3 recipe-contents">
    <div class="row">
        <!-- Ingredients -->
        <div class="col-md-4 p-4 recipe-ingredients">
            <h2>Ingredients:</h2>
            <div>
                {{ recipe.ingredients | safe }}
            </div>
        </div>
        <!-- Method -->
        <div class="col-md-8 p-4 recipe-method">
            <h2>Method:</h2>
            <div>
                {{ recipe.method | safe }}
            </div>
        </div>
    </div>
</div>
<!-- Comments -->
<div class="container recipe-comments" id="comments-container">
    <div class="row">
        <div class="col-12 card mb-4 p-4">
            <h3 class="recipe-comments-title">Comments:</h3>
            <div class="recipe-comments-list">

                {% if edit_comment %}
                <h4>Edit Comment:</h4>
                <form method="post" class="mt-2 mb-4">
                    <input type="hidden" name="action" value="edit_comment">
                    {{ edit_comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link btn-lge mt-2">Update</button>
                </form>
                {% endif %}

                {% for comment in comments %}
                <div class="comment mb-4">
                    <div class="comment-details p-2">
                        <div class="comment-details-name-date">
                            <div class="comment-details-name">
                                {{ comment.name }}
                            </div>
                            <div class="comment-details-date">
                                {{ comment.created_on }}
                            </div>
                        </div>
                        {% if user == comment.author %}
                        <div class="comment-actions">
                            <a href="?edit_comment_id={{ comment.id }}">
                                <button class="btn-comment-edit me-md-2">Edit</button>
                            </a>
                            <button class="btn-comment-delete" data-bs-toggle="modal" data-bs-target="#comment-deleteModal-{{comment.id}}">Delete</button>
                        </div>
                        <!-- Delete Comment Modal -->
                        <div class="modal fade modal-comment-delete" id="comment-deleteModal-{{comment.id}}" tabindex="-1"
                            aria-labelledby="comment-deleteModalLabel-{{comment.id}}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title fs-1 m-auto" id="comment-deleteModalLabel-{{comment.id}}">Delete
                                            Comment!
                                        </h5>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-center text-danger fs-3">
                                            Are you sure you want to delete your comment?
                                        </p>
                                    </div>
                                    <div class="modal-footer m-auto">
                                        <button type="button" class="modal-button
                                        btn-cancel flex-center" data-bs-dismiss="modal">Cancel</button>
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="action" value="delete_comment">
                                            <input type="hidden" name="delete_comment_id" value="{{comment.id}}">
                                            <button class="modal-button flex-center btn-delete"
                                                type="submit">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="comment-contents p-2">
                        {{ comment.body | linebreaks }}
                    </div>
                </div>
                {% endfor %}

                {% if commented %}
                <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
                </div>
                {% endif %}

                {% if user.is_authenticated and not edit_comment %}
                <h3>Leave a Comment:</h3>
                <p>Posting as: <strong>{{ user.username }}</strong></p>
                <form method="post" class="mt-2">
                    <input type="hidden" name="action" value="add_comment">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link btn-lge mt-2">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
